{% extends "layout.html" %}
{% block content %}
<html>
    <h1>About Page</h1>
    <p>This is a group project for Mississippi State University Intro to Software Engineering class.</p>
    <p>Members in this group include:<br/> Joshua Ulmer -Team Lead, Test Manager, Developer  <br/> Samuel Surdam -Developer, Tester
<br/> Joseph Crawford -Developer, Tester </p>
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + 'MSU2.jpg') }}">


<p id="demo"></p>
</html>


{% endblock content %}
